.jumbotron {
  padding: 2rem 1rem;
  background-color: #faedcd;
}
.Bio {
  padding: 2rem 4rem;
  background-color: #fefae0;
  margin-bottom: 5rem;
}
.Gallery {
  padding: 2rem 1rem;
  background-color: #ccd5ae;
}
section {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
